HumanResourceApplication/Service References/ServiceReference1/ApplyLeave.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplyLeave" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49595/ApplyLeave.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49595/ApplyLeave.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49595/ApplyLeave.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" />
      <xsd:import schemaLocation="http://localhost:49595/ApplyLeave.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplyLeave_ApplyLeav_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyLeav" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_ApplyLeav_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyLeavResponse" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetLeaveQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveQuota" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetLeaveQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetLeaveHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveHistory" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetLeaveHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetAllLeavesPending_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeavesPending" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_GetAllLeavesPending_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeavesPendingResponse" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_ApproveLeaves_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveLeaves" />
  </wsdl:message>
  <wsdl:message name="IApplyLeave_ApproveLeaves_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveLeavesResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplyLeave">
    <wsdl:operation name="ApplyLeav">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplyLeave/ApplyLeav" message="tns:IApplyLeave_ApplyLeav_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplyLeave/ApplyLeavResponse" message="tns:IApplyLeave_ApplyLeav_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplyLeave/GetLeaveQuota" message="tns:IApplyLeave_GetLeaveQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplyLeave/GetLeaveQuotaResponse" message="tns:IApplyLeave_GetLeaveQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplyLeave/GetLeaveHistory" message="tns:IApplyLeave_GetLeaveHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplyLeave/GetLeaveHistoryResponse" message="tns:IApplyLeave_GetLeaveHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLeavesPending">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplyLeave/GetAllLeavesPending" message="tns:IApplyLeave_GetAllLeavesPending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplyLeave/GetAllLeavesPendingResponse" message="tns:IApplyLeave_GetAllLeavesPending_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveLeaves">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplyLeave/ApproveLeaves" message="tns:IApplyLeave_ApproveLeaves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplyLeave/ApproveLeavesResponse" message="tns:IApplyLeave_ApproveLeaves_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplyLeave" type="tns:IApplyLeave">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyLeav">
      <soap:operation soapAction="http://tempuri.org/IApplyLeave/ApplyLeav" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveQuota">
      <soap:operation soapAction="http://tempuri.org/IApplyLeave/GetLeaveQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveHistory">
      <soap:operation soapAction="http://tempuri.org/IApplyLeave/GetLeaveHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLeavesPending">
      <soap:operation soapAction="http://tempuri.org/IApplyLeave/GetAllLeavesPending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveLeaves">
      <soap:operation soapAction="http://tempuri.org/IApplyLeave/ApproveLeaves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplyLeave">
    <wsdl:port name="BasicHttpBinding_IApplyLeave" binding="tns:BasicHttpBinding_IApplyLeave">
      <soap:address location="http://localhost:49595/ApplyLeave.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>