HumanResourceApplication/Service References/ServiceReference1/ApplyLeave2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApplyLeave">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeaveID" type="xs:int" />
      <xs:element minOccurs="0" name="LeaveTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="NofDays" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplyLeave" nillable="true" type="tns:ApplyLeave" />
</xs:schema>