HumanResourceApplication/Service References/EmpSea/EmpSea2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeSearch" nillable="true" type="tns:EmployeeSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeSearch" nillable="true" type="tns:ArrayOfEmployeeSearch" />
  <xs:complexType name="EmployeeSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOJ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeSearch" nillable="true" type="tns:EmployeeSearch" />
  <xs:complexType name="ArrayOfEmlpoyeeSeachEditEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmlpoyeeSeachEditEmp" nillable="true" type="tns:EmlpoyeeSeachEditEmp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmlpoyeeSeachEditEmp" nillable="true" type="tns:ArrayOfEmlpoyeeSeachEditEmp" />
  <xs:complexType name="EmlpoyeeSeachEditEmp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmlpoyeeSeachEditEmp" nillable="true" type="tns:EmlpoyeeSeachEditEmp" />
  <xs:complexType name="ArrayOfSalary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salary" nillable="true" type="tns:Salary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalary" nillable="true" type="tns:ArrayOfSalary" />
  <xs:complexType name="Salary">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicSal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConvyanceAllw" type="xs:decimal" />
      <xs:element minOccurs="0" name="EducationAllw" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="LTA" type="xs:decimal" />
      <xs:element minOccurs="0" name="MedicalAllw" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherDeductions" type="xs:decimal" />
      <xs:element minOccurs="0" name="PerformanceAllw" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfessionTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProvidentTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalID" type="xs:int" />
      <xs:element minOccurs="0" name="SpecailAllw" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salary" nillable="true" type="tns:Salary" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOJ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:decimal" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="EmployeeEdit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AadharNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="AlternateEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAC" type="xs:decimal" />
      <xs:element minOccurs="0" name="BlodGrp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCcity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCpincode" type="xs:decimal" />
      <xs:element minOccurs="0" name="CCstate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurntShif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrivingLCNo" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmergncyPhne" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationMark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaritalStus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotherTongue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCcity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PCpincode" type="xs:decimal" />
      <xs:element minOccurs="0" name="PCstate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PFno" type="xs:int" />
      <xs:element minOccurs="0" name="PanNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Religion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RprtigMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecndApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeekOF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeEdit" nillable="true" type="tns:EmployeeEdit" />
</xs:schema>