HumanResourceApplication/Service References/EmpSea/EmpSea1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49595/EmpSea.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" />
  <xs:element name="EmpSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="EmpSearchResult" nillable="true" type="q1:ArrayOfEmployeeSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpSearchName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpSearchNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="EmpSearchNameResult" nillable="true" type="q2:ArrayOfEmployeeSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveDesignation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveDesignationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="RetriveDesignationResult" nillable="true" type="q3:ArrayOfEmlpoyeeSeachEditEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="RetriveDepartmentResult" nillable="true" type="q4:ArrayOfEmlpoyeeSeachEditEmp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveEmpID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="RetriveEmpIDResult" nillable="true" type="q5:ArrayOfSalary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalaryGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalaryGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="SalaryGridResult" nillable="true" type="q6:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPanCardIDExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PanCardID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPanCardIDExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPanCardIDExistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpSearchDepDes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desgnation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpSearchDepDesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="EmpSearchDepDesResult" nillable="true" type="q7:ArrayOfEmployeeSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="emplyEdit" nillable="true" type="q8:EmployeeEdit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="ViewDetailResult" nillable="true" type="q9:EmployeeEdit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" minOccurs="0" name="emplyEdit" nillable="true" type="q10:EmployeeEdit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmpIDEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmpIDEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEmpIDEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>