HumanResourceApplication/Service References/DailyAttend/DailyAttendance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49595/DailyAttendance.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DailyAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttID" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Punching" type="ser:char" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DailyAttendance" nillable="true" type="tns:DailyAttendance" />
</xs:schema>