HumanResourceApplication/Service References/HRMRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOJ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:decimal" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfStateCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateCity" nillable="true" type="tns:StateCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateCity" nillable="true" type="tns:ArrayOfStateCity" />
  <xs:complexType name="StateCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateCity" nillable="true" type="tns:StateCity" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="BankDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="IFSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RIFSC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankDetails" nillable="true" type="tns:BankDetails" />
</xs:schema>