HumanResourceApplication/Service References/jobservice/JOB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRMDAL.Entites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobPosting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="Expierence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NofEmp" type="xs:int" />
      <xs:element minOccurs="0" name="Qualification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobPosting" nillable="true" type="tns:JobPosting" />
</xs:schema>